body { 
    margin:0%;
    color:aliceblue;
    background-image: url("../HTML/robot-with-black-background-dark-background_916191-348637.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed ;
    /* background-size:cover; */
    background-position:right bottom;
    background-size: 100% 650px;
    background-color: black;

}

header {
    font-size: 35px;
    text-align:center;
}
.home{
    text-align: center;
    box-shadow: 0 4px 10px rgb(106, 22, 25) ;
}

main {
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
    width:50%;
    font-size: 35px;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
    border-radius: 5%;

}
main:hover{
    padding:5px;
    margin:5px;

}

footer {
    padding:10px;
    margin:15px;
    width:40%;
    transition: all  2s 0.5s ease;
    font-size:30px;
    border-radius:5%
}
footer:hover{
    padding:15px;
    margin:20px;

}
table {
    width:100%;
    border-spacing:2px;
    border:2px black solid;
    box-shadow:  0 4px 10px rgb(106, 22, 25);
}
table td {
    color:aliceblue;
    padding:5px;
    border:2px solid rgb(55, 55, 56);
    text-align: center;

}
th{
    border-spacing:2px;
    border:2px solid rgb(101, 101, 104);
    background-color:rgb(106, 22, 25);
    color: aliceblue;
    font-width: bold;

}
 .caption{
    font-size: 30px;
    text-align: center;
}
form {
    padding:5px;
    margin: 5px;
    width:auto;
    box-shadow: 0 4px 10px rgb(106, 22, 25);
}
input {
    width:80%;
    padding:10px;
    margin:5px 0px;
    border:5px solid rgba(79, 79, 80, 0.686);
    border-radius: 10px;

}
input:focus{
    border-color:rgb(106, 22, 25);
    outline: none;
}
textarea{
    border: 5px solid rgba(79, 79, 80, 0.686);;
}
textarea:focus{
    border-color: rgb(106, 22, 25);
    outline: none;
}

label {
    display:block;
    margin:10px;
    font-weight:bold;
    color:rgb(106, 22, 25); 

}
button {
    width:30%;
    padding:20px;
    margin:10px;
    background-color: black;
    color:rgb(106, 22, 25);
    border:2px solid  rgb(106, 22, 25);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgb(106, 22, 25);
}
button:hover{
    color:brown
}
nav {
    width:100%;
    /* margin-top: 0.5%; */
    margin-left: auto;
    margin-right: auto;
    padding:0.1%;
    background-color:black;
    margin-bottom:3px ;
    box-shadow: 0 4px 10px rgb(106, 22, 25);
    border-radius: 10px;
    position: sticky;
    top:0px

}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:250px;
    width: 90%;
    margin-bottom: 1.5%;
    margin-left: auto;
    margin-right: auto;
    padding:0.5%;
    background-color: black;
    list-style: none;
    border: solid 4px rgb(57, 36, 30);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(106, 22, 25);
}
ul li {
    padding: 3px;
    display: inline-block;
}
li a {
    text-decoration: none;
    color:rgb(106, 22, 25);
    font-size: 30px;
}
li a:hover {
    color:brown;
}